<nav class="nav">
    <a href="" class="logo">
        <span>pick</span>karo</a>
    <div class="nav-search">
        <input type="text" placeholder="search for products">
        <button>Search</button>
    </div>
    <div class="nav-menu">
        <ul>
        <li><a href="#"><span><fa-icon [icon]="faHome"></fa-icon></span>Home</a></li>
        <li><a href="#"><span><fa-icon [icon]="faSignIn"></fa-icon></span>Login</a></li>
        <li><a href="#"><span><fa-icon [icon]="faCartShopping"></fa-icon></span>Cart</a></li>
    </ul>
    </div>
    
</nav>