<section class="bg-color">
    <div class="container">
        <div class="title">
            <p>The Best Seller Template </p>
            <h1><span>Best</span> Seller</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">9%</div>
                        <div class="label label-green"> Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p1.jpg"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p2.jpg"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p3.jpg"></div>
                        </div>
                        <div class="image">
                            <img src={{url}}>
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><fa-icon [icon]="faShoppingBasket"></fa-icon></a></li>
                                <li><a href=""><fa-icon [icon]="faHeart"></fa-icon></a></li>
                                <li><a href=""><fa-icon [icon]="faSearch"></fa-icon></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Iphone 16</a>
                        <div class="rating">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                    <p><span class="money"> $81.00</span> <span class="oldPrice"> $80.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">9%</div>
                        <div class="label label-green"> Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p1.jpg"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p2.jpg"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p3.jpg"></div>
                        </div>
                        <div class="image">
                            <img src={{url}}>
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><fa-icon [icon]="faShoppingBasket"></fa-icon></a></li>
                                <li><a href=""><fa-icon [icon]="faHeart"></fa-icon></a></li>
                                <li><a href=""><fa-icon [icon]="faSearch"></fa-icon></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Iphone 16</a>
                        <div class="rating">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                    <p><span class="money"> $81.00</span> <span class="oldPrice"> $80.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">9%</div>
                        <div class="label label-green"> Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p1.jpg"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p2.jpg"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p3.jpg"></div>
                        </div>
                        <div class="image">
                            <img src={{url}}>
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><fa-icon [icon]="faShoppingBasket"></fa-icon></a></li>
                                <li><a href=""><fa-icon [icon]="faHeart"></fa-icon></a></li>
                                <li><a href=""><fa-icon [icon]="faSearch"></fa-icon></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Iphone 16</a>
                        <div class="rating">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                    <p><span class="money"> $81.00</span> <span class="oldPrice"> $80.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">9%</div>
                        <div class="label label-green"> Pre-Order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p1.jpg"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p2.jpg"></div>
                            <div class="p" (mouseover)="changeImage($event)"><img src="./assets/images/p3.jpg"></div>
                        </div>
                        <div class="image">
                            <img src={{url}}>
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><fa-icon [icon]="faShoppingBasket"></fa-icon></a></li>
                                <li><a href=""><fa-icon [icon]="faHeart"></fa-icon></a></li>
                                <li><a href=""><fa-icon [icon]="faSearch"></fa-icon></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Iphone 16</a>
                        <div class="rating">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>
                    <p><span class="money"> $81.00</span> <span class="oldPrice"> $80.00</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>